<a href="https://colab.research.google.com/github/claudiacp1999/predicciones-ventas/blob/main/Proyecto_1_Parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Coding Dojo/sales_predictions.csv')
df.info()
df

Existen datos faltantes en la columna 'Item_Weight' y 'Outlet_Size', ambos casos son Not missing at random (NMAR).
En cuanto a 'Outlet_Size', se puede identificar que los datos faltantes corresponden a data de los anios 1998, 2002 y 2007. Para este caso, se utilizara el Most Frequent Values para rellenar los datos faltantes
Por otro lado, en la columna 'Item_Weight' todos los datos faltantes corresponden al anio 1985. Para este caso, se rellenaran los datos con la media de todos los datos de la columna **texto en negrita**

In [38]:
# Sacando el valor promedio de la columna 'Item_Weight'...
weight_mean = round(df['Item_Weight'].mean(),2)
weight_mean

12.86

In [ ]:
# Rellenando valores NaN de la columna
df['Item_Weight'] = df['Item_Weight'].fillna(weight_mean)
df

In [41]:
# Rellenando 'Outlet_Size' con el valor mas frecuente...
df['Outlet_Size'] = df['Outlet_Size'].fillna(df['Outlet_Size'].value_counts().index[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

# **Algunos datos agregados que pueden servir para el analisis:**

In [69]:
# Ventas totales por producto
df.groupby(['Item_Identifier'])[['Item_Outlet_Sales']].sum()

                 Item_Outlet_Sales
Item_Identifier
DRA12                   11061.6012
DRA24                   15723.5328
DRA59                   20915.4412
DRB01                    4554.0720
DRB13                   12144.1920
...                            ...
NCZ30                   12653.5290
NCZ41                    9137.4392
NCZ42                   19199.0088
NCZ53                   15073.7120
NCZ54                   22743.7280

[1559 rows x 1 columns]

In [65]:
# Ventas totales por anio y por tipo de producto.
df.groupby(['Outlet_Establishment_Year', 'Item_Type'])[['Item_Outlet_Sales']].sum()

                                         Item_Outlet_Sales
Outlet_Establishment_Year Item_Type
1985                      Baking Goods         238305.7992
                          Breads               115466.3650
                          Breakfast             54194.7884
                          Canned               288889.9542
                          Dairy                278461.5288
...                                                    ...
2009                      Others                37072.4098
                          Seafood               22166.4794
                          Snack Foods          278714.5328
                          Soft Drinks           88495.4728
                          Starchy Foods         33110.8998

[144 rows x 1 columns]

In [66]:
# Cantidad de articulos vendidos por anio, por tipo de producto.
df.groupby(['Outlet_Establishment_Year', 'Item_Type']).count()

                                         Item_Identifier  Item_Weight  \
Outlet_Establishment_Year Item_Type
1985                      Baking Goods               112          112
                          Breads                      47           47
                          Breakfast                   21           21
                          Canned                     110          110
                          Dairy                      116          116
...                                                  ...          ...
2009                      Others                      20           20
                          Seafood                      7            7
                          Snack Foods                132          132
                          Soft Drinks                 46           46
                          Starchy Foods               17           17

                                         Item_Fat_Content  Item_Visibility  \
Outlet_Establishment_Year Item_Type
1985                      Baking Goods                112              112
                          Breads                       47               47
                          Breakfast                    21               21
                          Canned                      110              110
                          Dairy                       116              116
...                                                   ...              ...
2009                      Others                       20               20
                          Seafood                       7                7
                          Snack Foods                 132              132
                          Soft Drinks                  46               46
                          Starchy Foods                17               17

                                         Item_MRP  Outlet_Identifier  \
Outlet_Establishment_Year Item_Type
1985                      Baking Goods        112                112
                          Breads               47                 47
                          Breakfast            21                 21
                          Canned              110                110
                          Dairy               116                116
...                                           ...                ...
2009                      Others               20                 20
                          Seafood               7                  7
                          Snack Foods         132                132
                          Soft Drinks          46                 46
                          Starchy Foods        17                 17

                                         Outlet_Size  Outlet_Location_Type  \
Outlet_Establishment_Year Item_Type
1985                      Baking Goods           112                   112
                          Breads                  47                    47
                          Breakfast               21                    21
                          Canned                 110                   110
                          Dairy                  116                   116
...                                              ...                   ...
2009                      Others                  20                    20
                          Seafood                  7                     7
                          Snack Foods            132                   132
                          Soft Drinks             46                    46
                          Starchy Foods           17                    17

                                         Outlet_Type  Item_Outlet_Sales
Outlet_Establishment_Year Item_Type
1985                      Baking Goods           112                112
                          Breads                  47                 47
                          Breakfast               21                 21
                          Canned                 110                110
                          Dairy                  116                116
...                                              ...                ...
2009                      Others                  20                 20
                          Seafood                  7                  7
                          Snack Foods            132                132
                          Soft Drinks             46                 46
                          Starchy Foods           17                 17

[144 rows x 10 columns]

In [71]:
# La visibilidad promedio que se le da a diversos tipos de productos a traves de los anios.
df.groupby(['Outlet_Establishment_Year', 'Item_Fat_Content'])[['Item_Visibility']].mean()

                                            Item_Visibility
Outlet_Establishment_Year Item_Fat_Content
1985                      LF                       0.083920
                          Low Fat                  0.074904
                          Regular                  0.078836
                          low fat                  0.073925
                          reg                      0.077601
1987                      LF                       0.045408
                          Low Fat                  0.058395
                          Regular                  0.063376
                          low fat                  0.072623
                          reg                      0.062707
1997                      LF                       0.060229
                          Low Fat                  0.058436
                          Regular                  0.064091
                          low fat                  0.064142
                          reg                      0.055690
1998                      LF                       0.103826
                          Low Fat                  0.097953
                          Regular                  0.107686
                          low fat                  0.110887
                          reg                      0.087667
1999                      LF                       0.067079
                          Low Fat                  0.058229
                          Regular                  0.064724
                          low fat                  0.054202
                          reg                      0.066766
2002                      LF                       0.058816
                          Low Fat                  0.058942
                          Regular                  0.063346
                          low fat                  0.051385
                          reg                      0.073887
2004                      LF                       0.060107
                          Low Fat                  0.060521
                          Regular                  0.063221
                          low fat                  0.044770
                          reg                      0.060538
2007                      LF                       0.052842
                          Low Fat                  0.060355
                          Regular                  0.063804
                          low fat                  0.056181
                          reg                      0.069664
2009                      LF                       0.063283
                          Low Fat                  0.057613
                          Regular                  0.066943
                          low fat                  0.065534
                          reg                      0.054068